#accordion {
  height: 3rem;
  width: 3rem;
  background-color: aqua;
  border-radius: 100%;
  position: absolute;
  bottom: 20px;
  right: 0;
}

#panel {
  height: 0;
  overflow-y: auto;
  margin-right: 15px;
  position: absolute;
  bottom: 14px;
  right: 0;
}
